

.header-section {

    background-color: palevioletred;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    font-family: "Courier New", Courier, monospace;

}

.text-center {

    text-align: center;
    font-size: 25px;

}

.skills-section { 

    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:darkorange;
    font-family: 'Courier New', Courier, monospace;

}


.text-center {

    text-align: center;
    font-weight: bold;

}


.h1-first-style {
 
    font-size: 50px;
}


.h1-second-style {

    font-size: 40px; 
}

.h1-third-style {

    font-size: 30px;
    font-weight: bolder;
}


.contact-details{

    background-color: peru;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.text-position{

    text-align: center;
    position: relative;
    top: 50px;  
 
}

.click-skill{

    color:darkorange;
    text-decoration: none;


}

.click-skill:hover{

    color: brown;
    cursor: pointer;


}

.contact-me-link {

    color: black;
    text-decoration: none;
    
}

.contact-me-link:hover {

    color: whitesmoke;
    cursor: pointer;
    text-decoration: underline;
    
}


.my-img {

    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-image: url("../assets/me.jpg");
    background-size: cover;
    background-position: center;
}

.duck-img {

    width: 400px;
    height: 400px;
    border-radius: 400px;
    background-image: url("../assets/photo_duckling.jpg");
    margin: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 5px;
}